<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jogo1.css">


    </head>
    <body>
        <header>
            <div class="titulogame">
                <h1 class="nome">O Terror De Pasto Alto</h1>

            <div class="apresentacao">
                <h1>Precisamos de você para salvar a pequena e pacata cidade 
                    de Pasto Alto!</h1>
                <h2>Um mistrioso e peculiar assassino, que deixa uma marca 
                    misteriosa em suas vítimas
                está a solta e está causando terror nos habitantes 
                dessa cidade outrora tão pacata!!!!</h2>
            </div>
            </div>
                <img src="../img/monstro1.jpg" height="200px" width="150px">
                <img src="../img/detetive.jpg" height="200px" width="150px">
                <img src="../img/detetive02.jpg" height="200px" width="150">
                <img src="../img/detetive06.jpg" height="200px" width="150">
            <div class="Escolha seu detetive">
                <h3>Agora é com você!<br> Quais dos 3 detetives
                         tem todas as pistas para desvendenar esse crime tão brutal?</h3>
            </div>
            <div class="borala">
        
                <nav>
         
                   <ul class="fotos"> 
                        <a href="./salahadin.html">SALAHADIN<img src="../img/detetive.jpg " height="200px"></a>
                        <a href="./steve.html">Lee<img src="../img/detetive02.jpg" height="200px"></a></li>
                        <a href="./lavinia.html">Sanclair<img src="../img/detetive06.jpg" height="200px"></a>
                    </ul>
                </nav>
            </div>
 
    </header>
</body>

</html>