<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Sanclair</title>

</head>

<body class="olho24">
    <script type="text/javascript" src="../js/jogojs.js"></script>
    
    <div class="fundo">
        <p>Lavínia Sanclair é a novata do grupo e hoje é seu primeiro dia no campo
            após passar com louvor na academia da polícia e pela prova de detetive.
            Empolgada, porém apreensiva ela 
            observa seus companheiros de trabalho e aos poucos 
            vai montando sua linha de raciocínio.</p>
            <p>Com sua visão apurada ela percebe que nos arredores
            do bar tem uns pêlos caído no chão. 
            Com base nessas informações decida o que sanclair irá fazer</p>
        
        <p>1- Ir até o laborátorio que fica uns 100 km do local onde ela se encontra.</p>
        <p>2- Se armar até os "dentes" e partir para a floresta</p>
        <a class="stv1" onclick=facaSuaEscolhaLavinia() >Clique Aqui!</a>
   
    </div>
    
</body>
</html>