<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css"
    <title>Lavínia2</title>


</head>

<body class="olho22">

    <div class="fundo">

        <P>2- Usando seus conhecimentos de gurra que adquiriu na academia, 
        Sanclair faz um cerco na pequena cidade de Pasto Alto.
        Colocando várias minas terrestres e armadilhas no entorno da floresta,
        sensores de movimento e conseguiu com seu incrível poder de argumentação e simpatia
        a ajuda dos cidadãos comuns que sonham em retomar a traquilidade da cidade.
        Em uma busca empolgante conseguem chegar até uma caverna 
        abaixo da floresta, onde que para surpresa de todos o casal se encontrava ileso e preso 
        numa armadilha feita pelo monstro, Sanclair os liberta e logo em seguida o monstro aparece
        e começa a batlha, os cidadãos se empenham em acabar com o exército de zoombis enquanto Sanlcair sozinha e com sua Ak47 tenta destruir o monstro.
        Ao acertar diversos disparos no monstro nada acontece!
        Para sua surpresa ele é imune a arma, mas o casal sabia como matar o mosntro, eles conheciam o modo de agir
        do monstro, pois ele já havia destruído sua cidade inteira e eles buscavam vingança.
        Somente o sangue deles tem o que é necessario para matar o monstro
        apenas uma gota de sangue na bala de sua arma é necessário para desintegrar o monstro.
        Sanclair em um pensamento rápido pede para que o homem levante sua mão e rapidamente ela atira na mão do homem que acerta em cheio a testa do mosntro, o matando
        e assim Sanlcair salva a cidade se torna a maior detetive do país</P> 

          
        <a href="..//views/meteope.html" class="ganhou">Ganhou</a>
   
    
</body>
</html>