<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Volte a estudar que temos muito resilia pela frente</title>

</head>

<body class="olho22">

  <div class="fundo">

       <p>Mete o Pé daqui, eu heim!!!! Se concentre na aula do Esli e do Jarom!</p>
  
        <img src="..//img/esli.jpg" width="200" height="200">
    <img src="../img/jarom.png" width="200" height="200">
    <a href="https://www.alura.com.br/">Clique Aqui</a>
</div>
    
</body>
</html>