<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Bar</title>
    
</head>

<body class="olho1">
    
    <div class="fundo1">
        <p>Ao cehagr no bar, uma mulher claremente desorientada e em estado de choque chama a atencção do nosso 
        detevide.</p>
        <p>Ela disse ao investigador Salahadin: Eu vi uma besta fera levando
         o casal para um casarão abandonado ao sul do bar</p>

        <p>Chegando no casarão slahadin não encontra pista alguma e acaba sendo morto por algo que passou 
        por ele e o feriu de forma mortal e não pode ser visto</p>
        <p>Salahadin não é o investigador que irá desvendar esse crime</p>
        
    
        <p>Perdeu tempo ,volte ao inicio</p> 
            <img src="../img/cele00.jpg">
        <a href="../views/jogo.html" class="Perdeu">Perdeu</a>
    </div>
</body>
</html>