<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Bar</title>
    
</head>

<body class="olho1">
    
    <div class="fundo1">
        <p>Ao cehagr no bar, uma mulher claramente desorientada e em estado de choque chama a atenção do nosso 
        detetive.</p>
        <p>Ela disse ao investigador Salahadin: "Eu vi uma besta fera levando
         o casal para um casarão abandonado ao sul do bar"</p>

        <p>Chegando no casarão salahadin não encontra pista alguma e acaba sendo perseguido por algo que passou 
        por ele e o feriu de forma mortal.</p>
        <p>Salahadin não é o investigador que irá desvendar esse crime</p>
        
    
        <p>Perdeu tempo ,volte ao inicio</p> 
            <img src="../img/cele00.jpg" width="300" height="300">
        <a href="../index.html" class="Perdeu">Perdeu</a>
    </div>
</body>
</html>