<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Salahadin</title>

</head>

<body class="fundo2">
    <script type="text/javascript" src="../js/jogojs.js"></script>

    
    <div class="fundo" >
       
        <p>Na busca por pistas, Salahadin precisa investigar os locais onde as vítimas estiveram!</p>
        <p>Você precisa escoler um local para achar primeira pista e desvendar esse "quebra-cabeça".</p> 
        <P>1- Entrevistar as pessoas no aeroporto e verificar as câmeras de segurança 
        <p>2- Ir até o bar para refazer o caminho das vítimas</p>
        <a class="sld1" onclick=facaSuaEscolhaSalahadin()>Clique Aqui!</a>
       

    </div>
    
    
</body>
</html>