<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Marcas da morte</title>

</head>

<body class="olho23">

    <div class="fundo">

        <P>Parece que as buscas esquentaram, Lee consegue avistar um 
        vulto se mexendo rapidamente
        um pouco mais adiante ele se depara com vários corpos que 
        pareciam estar ali alguns dias, porém não havia mal 
        cheiro e as vítimas estavam se mexendo lentamente!
        Ao chegar mais perto as vítimas
         se levantaram e como se fossem zoobis e atacaram nosso 
         investigador sendo assim transformado nessa criatura horrenda
          porém o casal não foi encontrado.</P> 

        <p>Se tornou zoombi, volte ao início.</p>
        <a href="../index.html" class="Perdeu">Perdeu</a>
   

    </div>
</body>
</html>