<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fase1.css">
    <title>Lee</title>

</head>

<body class="fundo3">
    <script type="text/javascript" src="../js/jogojs.js"></script>
    
    <div class="fundo3" >
       
        <p>Diferente de Salahadin, Lee opta por investigar marcas nos locais onde esteve o casal.</p>
        <p>Depois de muito procurar ele encontra 2 pegadas estranhas
             e algumas ranhuras no chão nos arredores do Bar.</p> 
        <P>1- Seguir as pegadas que mais parecem ranhuras causadas
             por garras afiadas no chão de terra.</P>
        <p>2- Seguir as marcas de sangue que parecem um pouco mais
             antigas e não parece ser do casal, 
            mas podem ser de possíveis vítmias anteriores.</p>
        <a class="stv1" onclick=facaSuaEscolhaSteve()>Clique Aqui!</a>
        
    </div>
    
</body>
</html>